h2 {
font-family: 'Libre Baskerville', serif;
text-align: center;
text-transform: uppercase;
}

p {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    }

.Image1 {
width: 100%;
border: 5px;
border: solid white;
}

#Motivation {
    margin: 25%;
    width: 50%;
}

#page {
    background-color: black;
    color: white;
}